<div class="grid-layout_inner-2">
<div class="quote_wrapper">
	<div class="entry-icon fa fa-quote-left"></div>
	<div class="site-wrapper">
	<h4>%%TITLE%%</h4>
	<span class="user_position">	%%AUTHOR %% - %%AUTHOR_POS%%</span>
	</div>
</div>

<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>

<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>