
%%THUMBNAIL size="monstroid-thumb-570x360"%%
%%TITLE%%
<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>
%%THUMBNAIL where="single"%%


%%CONTENT%%

<div class="cherry-share_wrap only-logos">
	%%SHARE where="single"%%
</div>
<div class="entry-meta meta-bottom">
	%%LIKES%%
</div>