<div class="grid-layout_inner-2">
%%THUMBNAIL where="loop" size="monstroid-thumb-570x360"%%
%%TITLE where="loop"%%


<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>
%%CONTENT%%
<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>