<div class="grid-layout_inner">
%%VIDEO where="loop"%%
%%TITLE%%

<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>

<!-- %%VIDEO where="single"%% -->

%%CONTENT%%
<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>