<div class="grid-layout_inner">
%%THUMBNAIL where="loop" class="alignleft" size="monstroid-thumb-570x360"%%
%%THUMBNAIL where="single" class="aligncenter"%%

%%TITLE where="loop"%%


<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>
%%CONTENT%%

<div class="entry-meta entry-meta-bottom">
	%%TAXONOMY before="<?php _e( 'Posted in ', 'monstroid' ); ?>" name="category"%%
	%%TAXONOMY name="post_tag"%%
</div>
<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>