<div class="grid-layout_inner">
<div class="link_wrapper">
	<div class="entry-icon fa fa-chain"></div>
	<div class="site-wrapper">
	%%TITLE%%
	</div>
</div>


<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>

%%CONTENT%%
<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>