<div class="grid-layout_inner-3 quote-type">
<div class="quote_wrapper">
	<div class="entry-icon fa fa-quote-left"></div>
	<div class="site-wrapper">
	%%TITLE%%
	<span class="user_position">	%%AUTHOR %% - %%AUTHOR_POS%%</span>
	</div>
</div>
</div>