<div class="grid-layout_inner grid-type-2">
%%GALLERY where="loop" size="monstroid-thumb-570x360"%%
%%TITLE where=""%%


<div class="entry-meta">
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY  name="category"%%
	%%COMMENTS%%
</div>
%%GALLERY where="single"%%


%%CONTENT%%
<div class="entry-meta meta-bottom">
	%%DATE   %%
	%%LIKES%%
</div>
</div>