%%CONTENT%%

<div class="entry-meta entry-meta-bottom">
	%%DATE   before="<?php _e( 'Posted on ', 'monstroid' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%COMMENTS%%
	%%TAXONOMY before="<?php _e( 'in ', 'monstroid' ); ?>" name="category"%%
	%%TAXONOMY name="post_tag"%%
</div>