%%THUMBNAIL where="loop" class="alignleft" size="cherry-thumb-570x360"%%
%%THUMBNAIL where="single" class="aligncenter"%%

%%TITLE where="loop"%%

<div class="entry-meta">
	%%DATE   before="<?php _e( 'Posted on ', 'monstroid' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%COMMENTS%%
</div>

%%CONTENT%%
%%BUTTON class="cherry-btn cherry-btn-primary-light cherry-btn-small cherry-btn-inline cherry-btn-fade"%%

<div class="entry-meta entry-meta-bottom">
	%%TAXONOMY before="<?php _e( 'Posted in ', 'monstroid' ); ?>" name="category"%%
</div>