

<div class="link_wrapper">
	<div class="entry-icon fa fa-chain"></div>
	<div class="site-wrapper">
	%%TITLE%%
	</div>
</div>

<div class="entry-meta">
	%%DATE   %%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%COMMENTS%%
	<span>%%LIKES%%</span>
</div>

%%CONTENT%%
%%BUTTON class="cherry-btn cherry-btn-primary-light cherry-btn-small cherry-btn-inline cherry-btn-fade"%%
<div class="cherry-share_wrap only-logos">
	%%SHARE where="single"%%
</div>
