<!-- %%TITLE where="single"%% -->
<div class="quote_wrapper">
	<div class="entry-icon fa fa-quote-left"></div>
	<div class="site-wrapper">
	%%TITLE%%
	<span class="user_position">	%%AUTHOR %% - %%AUTHOR_POS%%</span>
	</div>
</div>


<div class="entry-meta">
	%%DATE   %%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%COMMENTS%%
	<span>%%LIKES%%</span>
</div>
<div class="cherry-share_wrap only-logos">
	%%SHARE where="single"%%
</div>
