<div class="entry-icon"></div>
%%TITLE%%
<div class="entry-meta">
	%%DATE ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%TAXONOMY name="category"%%
	%%COMMENTS%%
	<span>%%LIKES%%</span>
</div>
%%THUMBNAIL where="single"%%

%%CONTENT%%
%%BUTTON class="cherry-btn cherry-btn-primary-light cherry-btn-small cherry-btn-inline cherry-btn-fade"%%

<div class="cherry-share_wrap only-logos">
	%%SHARE where="single"%%
</div>