%%VIDEO where="loop"%%
<div class="entry-icon fa fa-video-camera"></div>
%%TITLE%%

<div class="entry-meta">
	%%DATE   %%
	%%AUTHOR before="<?php _e( 'by ', 'monstroid' ); ?>"%%
	%%COMMENTS%%
	%%TAXONOMY  name="category"%%
	<span>%%LIKES%%</span>
</div>

<!-- %%VIDEO where="single"%% -->

%%CONTENT%%
%%BUTTON class="cherry-btn cherry-btn-primary-light cherry-btn-small cherry-btn-inline cherry-btn-fade"%%
<div class="cherry-share_wrap only-logos">
	%%SHARE where="single"%%
</div>
