/*
Description: The stylesheet with a main responsive style.
Author:      Cherry Team
Version:     1.0.0
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px; }

  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 30px; }

  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 46px; } }
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .form-inline .form-control-static {
    display: inline-block; }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
      width: auto; }
  .form-inline .input-group > .form-control {
    width: 100%; }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .form-inline .radio label,
    .form-inline .checkbox label {
      padding-left: 0; }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; } }
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px; } }
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px; } }

@media (max-width: 768px) {
  ol.comment-list li.comment ol.children {
    padding-left: 15px; } }

@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch; }
    .table-responsive > .table {
      margin-bottom: 0; }
      .table-responsive > .table > thead > tr > th,
      .table-responsive > .table > thead > tr > td,
      .table-responsive > .table > tbody > tr > th,
      .table-responsive > .table > tbody > tr > td,
      .table-responsive > .table > tfoot > tr > th,
      .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap; }
    .table-responsive > .table-bordered {
      border: 0; }
      .table-responsive > .table-bordered > thead > tr > th:first-child,
      .table-responsive > .table-bordered > thead > tr > td:first-child,
      .table-responsive > .table-bordered > tbody > tr > th:first-child,
      .table-responsive > .table-bordered > tbody > tr > td:first-child,
      .table-responsive > .table-bordered > tfoot > tr > th:first-child,
      .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0; }
      .table-responsive > .table-bordered > thead > tr > th:last-child,
      .table-responsive > .table-bordered > thead > tr > td:last-child,
      .table-responsive > .table-bordered > tbody > tr > th:last-child,
      .table-responsive > .table-bordered > tbody > tr > td:last-child,
      .table-responsive > .table-bordered > tfoot > tr > th:last-child,
      .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0; }
      .table-responsive > .table-bordered > tbody > tr:last-child > th,
      .table-responsive > .table-bordered > tbody > tr:last-child > td,
      .table-responsive > .table-bordered > tfoot > tr:last-child > th,
      .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0; } }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

@-ms-viewport {
  width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
@media (min-width: 768px) {
  .site-header.boxed,
  .site-content.boxed,
  .site-footer.boxed {
    max-width: 750px; } }
@media (min-width: 992px) {
  .site-header.boxed,
  .site-content.boxed,
  .site-footer.boxed {
    max-width: 970px; } }
@media (min-width: 1200px) {
  .site-header.boxed,
  .site-content.boxed,
  .site-footer.boxed {
    max-width: 1170px; } }
@media (min-width: 768px) {
  .site-header.extra-boxed,
  .site-content.extra-boxed,
  .site-footer.extra-boxed {
    max-width: 780px; } }
@media (min-width: 992px) {
  .site-header.extra-boxed,
  .site-content.extra-boxed,
  .site-footer.extra-boxed {
    max-width: 1000px; } }
@media (min-width: 1200px) {
  .site-header.extra-boxed,
  .site-content.extra-boxed,
  .site-footer.extra-boxed {
    max-width: 1200px; } }

.entry-content .container .container {
  width: auto; }

@media (min-width: 992px) {
  .sidebar-sidebar-content-wrapper,
  .sidebar-content-sidebar-wrapper,
  .content-sidebar-sidebar-wrapper {
    width: 80%; }

  .sidebar-content-sidebar-wrapper,
  .sidebar-sidebar-content-wrapper {
    float: right; }

  .content-sidebar-sidebar-wrapper {
    float: left; }

  .sidebar-content-wrapper #primary,
  .content-sidebar-wrapper #primary,
  .sidebar-sidebar-content-wrapper #primary,
  .sidebar-content-sidebar-wrapper #primary,
  .content-sidebar-sidebar-wrapper #primary {
    width: 75%; }

  .sidebar-content-wrapper #primary,
  .sidebar-sidebar-content-wrapper #primary {
    float: right; }

  .content-sidebar-wrapper #primary,
  .content-sidebar-sidebar-wrapper #primary,
  .sidebar-content-sidebar-wrapper #primary {
    float: left; }

  .sidebar-content-wrapper .widget-area,
  .sidebar-sidebar-content-wrapper .widget-area {
    float: left;
    width: 23%; }

  .content-sidebar-wrapper .widget-area,
  .content-sidebar-sidebar-wrapper .widget-area,
  .sidebar-content-sidebar-wrapper .widget-area {
    float: right;
    width: 23%; }

  .sidebar-sidebar-content-wrapper + .widget-area,
  .sidebar-content-sidebar-wrapper + .widget-area {
    float: left;
    width: 18%; }

  .content-sidebar-sidebar-wrapper + .widget-area {
    float: right;
    width: 18%; }

  .cherry-with-sidebar .content-area .container {
    width: 80%; } }
/* Header
-------------------------------------*/
/***** Header menu ****/
@media (max-width: 767px) {
  .menu-primary ul {
    float: none;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    display: inline-block; } }

/* Logo
---------------------------------------- */
.site-branding .site-title {
  -webkit-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
  margin: 91px 0 42px; }

@media (max-width: 767px) {
  .site-branding .site-title {
    margin: 30px 0;
    text-align: center; } }
@media (min-width: 768px) {
  .site-branding .site-title {
    margin: 30px 0;
    text-align: center; } }
@media (min-width: 992px) {
  .site-branding .site-title {
    margin: 91px 0 42px;
    text-align: left; } }
@media (min-width: 1200px) {
  .site-branding .site-title {
    margin: 91px 0 42px;
    text-align: left; } }
/*/ Logo */
/* header & menu stickup */
@media (min-width: 992px) {
  .header-top.static-area.isStick #menu-primary #menu-primary-items > li > a {
    padding: 42px 10px 46px;
    -webkit-transition: all, 0.3s, ease;
    -o-transition: all, 0.3s, ease;
    transition: all, 0.3s, ease; } }
@media (min-width: 1200px) {
  .header-top.static-area.isStick #menu-primary #menu-primary-items > li > a {
    padding: 42px 10px 46px;
    -webkit-transition: all, 0.3s, ease;
    -o-transition: all, 0.3s, ease;
    transition: all, 0.3s, ease; } }

/****** menu ********/
@media (max-width: 767px) {
  #menu-primary {
    float: none;
    text-align: center; } }

@media (max-width: 480px) {
  #menu-primary #menu-primary-items li {
    display: block;
    float: none; } }

@media (max-width: 767px) {
  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 16px;
    min-width: 85px;
    font-size: 14px; } }
@media (min-width: 768px) {
  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 16px;
    min-width: 144px; } }
@media (min-width: 992px) {
  #menu-primary #menu-primary-items > li > a {
    padding: 62px 10px 66px;
    min-width: 130px; } }
@media (max-width: 1220px) and (min-width: 1200px) {
  #menu-primary #menu-primary-items > li > a {
    min-width: 154px; } }
@media (min-width: 1220px) {
  #menu-primary #menu-primary-items > li > a {
    min-width: 174px;
    padding: 72px 10px 76px; } }
/* menu toggle */
@media (max-width: 580px) {
  #menu-primary-items {
    padding: 0 !important;
    background: transparent; }

  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 13px; }

  .cherry-navigation-arrow .menu-primary li > a:after {
    top: 30px; }

  #menu-primary #menu-primary-items li .sub-menu {
    padding: 15px 25px 10px 25px; }

  .menu-primary .sub-menu {
    margin-top: 0 !important;
    text-align: center; }
    .menu-primary .sub-menu li a {
      color: #FFF; }

  .menu-primary > ul > li:first-child, .menu-secondary > ul > li:first-child {
    margin: 0 !important; } }
/****** menu end ********/
/* menu stickup */
@media (min-width: 992px) {
  .isStick#menu-primary #menu-primary-items > li > a {
    padding: 42px 10px 46px; } }

/* header showcase */
@media (max-width: 767px) {
  .header_showcase {
    padding: 40px 15px; } }
@media (min-width: 768px) {
  .header_showcase {
    padding: 40px 15px 200px; } }
@media (min-width: 992px) {
  .header_showcase {
    padding: 96px 0 350px; } }
@media (min-width: 1200px) {
  .header_showcase {
    padding: 96px 0 499px; } }

@media (max-width: 767px) {
  .header_showcase em {
    font-size: 20px;
    line-height: 28px; } }
@media (min-width: 768px) {
  .header_showcase em {
    font-size: 30px;
    line-height: 38px; } }
@media (min-width: 992px) {
  .header_showcase em {
    font-size: 45px;
    line-height: 48px; } }
@media (min-width: 1200px) {
  .header_showcase em {
    font-size: 45px;
    line-height: 48px; } }
@media (max-width: 767px) {
  .header_showcase strong {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 0px; } }
@media (min-width: 768px) {
  .header_showcase strong {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0px; } }
@media (min-width: 992px) {
  .header_showcase strong {
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 10px; } }
@media (min-width: 1200px) {
  .header_showcase strong {
    font-size: 112px;
    line-height: 130px;
    margin-bottom: 33px; } }
/* header showcase end */
@media (min-width: 1980px) {
  background-size: cover !important; }
/* lg-min
----------------------------------*****/
@media (max-width: 1200px) {
  .site-header {
    background-size: auto; }

  .error-404-num {
    font-size: 200px; }

  .comments-area .comments .comment .children {
    padding-left: 0; }

  .related-posts {
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px; }

  .entry-header .entry-title, .cherry-breadcrumbs .page-title {
    font-size: 34px;
    line-height: 36px; }

  .cherry-box.extrabox_6 .inner {
    padding: 20px 35px; }

  .cherry-box.extrabox_1.boxstyle1_3 .inner {
    padding: 37px 40px 39px 49px; }
    .cherry-box.extrabox_1.boxstyle1_3 .inner .cherry-btn.arrowbutton {
      position: relative;
      bottom: 0;
      right: 0; }

  #menu-primary #menu-primary-items li .sub-menu {
    min-width: 150px; }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    width: 100% !important; }

  .cherry-box.extrabox_5 h3 {
    margin-right: 60px; }

  .cherry-posts-list.posts_1 .descr > a {
    font-size: 32px;
    line-height: 38px; }

  /* extrabox_1 */
  .cherry-box.extrabox_1.boxstyle1_1 .inner {
    padding: 37px 82px 17px 49px; }

  .cherry-box.extrabox_1.boxstyle1_1 .cherry-btn.arrowbutton {
    position: absolute;
    bottom: 30px;
    right: 24px; } }
/* md-min
----------------------------------*/
@media (max-width: 992px) {
  .cherry-breadcrumbs {
    padding-top: 30px; }

  .cherry-navigation-arrow .menu-primary li > a:after {
    bottom: 8px; }

  .isStick .menu-primary li > a:after {
    bottom: 8px; }

  .portfolio-wrap .portfolio-item .inner-wrap .item-content {
    padding: 20px 20px 30px; }

  #menu-primary {
    padding: 0 0 40px 0; }

  .portfolio-wrap .portfolio-filter .filter.filter-category li {
    margin: 0 0 10px; }

  .header-top.static-area.isStick .site-branding .site-title.text-logo {
    margin: 15px 0; }

  .error-404-num {
    font-size: 200px; }

  .comments-area .comments #respond {
    padding: 20px 20px 30px; }

  .comments-area .comments .comments-title {
    padding: 25px 20px 35px; }

  .comments-area .comments .comment-list {
    padding: 0px 20px 30px; }

  .author-bio {
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 30px; }

  .post.type-post .entry-content {
    padding: 20px 25px; }

  .post.type-post .entry-meta-top, .post.type-post .entry-meta-bottom {
    padding: 14px 20px; }

  .cherry-box.extrabox_6 .inner {
    text-align: center; }

  .team-wrap.extrateam_1 .team-listing {
    text-align: center; }

  .team-wrap.extrateam_1 .team-item {
    margin-bottom: 40px; }

  .cherry-box.extrabox_1.boxstyle1_3 .inner {
    padding: 25px; }
    .cherry-box.extrabox_1.boxstyle1_3 .inner p img {
      float: none;
      margin: 20px 0; }

  #menu-primary #menu-primary-items li .sub-menu {
    min-width: 160px; }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    width: 100% !important; }

  .cherry-posts-list.posts_1 .descr {
    max-width: none;
    padding: 25px 25px 30px; }

  .cherry-posts-list.posts_1 figure {
    float: none; }
    .cherry-posts-list.posts_1 figure img {
      width: 100%;
      max-width: none; }

  .cherry-box.extrabox_5 .box-primary.inner {
    padding-left: 20px;
    padding-right: 20px; }

  .cherry-box.extrabox_5 h3 {
    margin-right: 0; }

  .cherry-box.extrabox_1.boxstyle1_1 .cherry-btn.arrowbutton {
    position: absolute;
    bottom: 30px;
    right: 24px; } }
/* sm-max
----------------------------------*/
@media (max-width: 991px) {
  .cherry-box.extrabox_5 .box-primary.inner {
    background-image: none !important; } }
/* sm-min
----------------------------------*/
@media (max-width: 768px) {
  #menu-primary .cherry-mega-menu-sub.simple-sub {
    text-align: center; }

  .simple-menu .sub-menu {
    width: 100%; }

  #menu-primary .sub-menu, #menu-primary .simple-sub {
    padding: 10px 25px 10px 30px; }

  .site-header {
    background-image: none !important; }

  div.portfolio-wrap .portfolio-container.list-layout .list-layout-item .inner-wrap .media-content {
    float: none;
    width: 100%;
    margin: 0 auto 20px; }

  .portfolio-wrap .portfolio-filter .filter.filter-tag li {
    margin: 0 2px 4px; }

  .portfolio-wrap .portfolio-filter .filter.filter-category li a {
    padding: 4px 10px 6px;
    font-size: 16px; }

  .error-404-num {
    font-size: 180px; }

  .author-bio .author-bio_avatar {
    float: none;
    display: block;
    margin-bottom: 12px; }

  .entry-header .entry-title, .cherry-breadcrumbs .page-title {
    font-size: 26px;
    line-height: 32px; }

  #footer {
    padding-top: 106px;
    padding-bottom: 280px; }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    padding: 25px 25px 35px; }

  .cherry-grid.extragrid_2 .cherry-grid_item {
    padding: 25px 25px 35px; }

  .cherry-posts-list.posts_1 .descr {
    max-width: none;
    padding: 25px 15px 30px; }

  .cherry-posts-list.posts_1 .descr > a {
    font-size: 28px;
    line-height: 34px; }

  .cherry-box.extrabox_5 .box-primary.inner {
    padding-left: 20px;
    padding-right: 20px;
    background-image: none !important; }

  .cherry-box.extrabox_5 h3 {
    margin-right: 20px; }

  .cherry-box.extrabox_4 .box-primary.inner {
    padding: 40px 25px 15px; }

  .cherry-btn.extracheckbutton {
    font-size: 18px !important;
    text-align: left; }

  .cherry-box.extrabox_1 .inner {
    padding: 20px;
    overflow: hidden; }
  .cherry-box.extrabox_1 h2 {
    font-size: 32px;
    line-height: 34px; }

  .cherry-box.extrabox_3 .box-primary.inner {
    padding: 33px 20px 60px; }

  .cherry-box.extrabox_1.boxstyle1_1 .inner {
    padding: 20px 60px 20px 20px; } }
/* xs-min
----------------------------------*/
@media (max-width: 480px) {
  #menu-primary .sub-menu {
    text-align: center; }

  .testimonials-page .testimonials-item .avatar {
    float: none;
    margin: 0 0 20px; }

  .testimonials-page .testimonials-item blockquote {
    border: none;
    padding-left: 0; }

  .portfolio-wrap .portfolio-filter .order-filter > li {
    font-size: 14px; }

  .portfolio-wrap .portfolio-filter .filter.filter-category li {
    margin: 0 5px 5px;
    display: block;
    font-size: 16px; }

  .error-404-num {
    font-size: 100px; }

  #menu-primary.toggled #menu-primary-items li .sub-menu .sub-menu li {
    margin: 10px 0 0 0 !important; }

  #menu-primary.toggled #menu-primary-items li .sub-menu .sub-menu {
    margin: 0 !important;
    padding: 0 0 0 10px; }

  .cherry-grid.extragrid_1 .cherry-grid_item .post-thumbnail {
    float: none; }

  .cherry-posts-list.posts_1 .post-meta {
    margin-top: 40px; }

  .cherry-posts-list.posts_1 .post-meta time {
    margin-right: 15px; }

  .cherry-box.extrabox_5 .cherry-dropcap {
    float: none !important;
    display: block !important; } }

/*# sourceMappingURL=main-responsive.css.map */
