<figure class="post-thumbnail">%%IMAGE%%</figure>
<div class="descr">
%%TITLE%%
   <div class="post-meta">
	%%DATE%% %%COMMENTS%% <?php _e( 'Comments', 'cherry-shortcodes' ); ?>
   </div>
</div>