<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
		<div class="rollover-content">
			<div class="table-display">
				<div class="links-container table-cell">%%EXTERNALLINK%% %%ZOOMLINK="zoom"%% %%PERMALINK="Permalink"%%</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		<h3><a href="%%URL%%">%%TITLE%%</a></h3>
		<p>%%CONTENT="25"%%</p>
                <a href="%%URL%%" class="item-link permalink btn btn-default">Read more</a>
	</div>
</div>