/*
Description: The stylesheet with a main responsive style.
Author:      Cherry Team
Version:     1.0.0
*/
@import "compass";
@import "compass/css3";
@import "css-framework/responsive/base";

/* Header
-------------------------------------*/
/***** Header menu ****/
.menu-primary ul {
  @media (max-width: $screen-xs-max) {

    .menu-items {
      padding: 40px 0;
      height: 65px;
      margin: 0;
    }

    float: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }
}

/* Logo
---------------------------------------- */

.site-branding .site-title {
  @include transition(all, 0.3s, ease);
}

@media (max-width: 767px) {
  .site-branding .site-title {
    margin: 30px 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .site-branding .site-title {
    padding: 20px 0;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .site-branding .site-title {
    padding: 20px 0;
    margin: 0;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .site-branding .site-title {
    padding: 20px 0;
    margin: 0;
    text-align: left;
  }
}

/* header & menu stickup */
.header-top.static-area.isStick {
  #menu-primary #menu-primary-items {
    li {
      a {
        @media (min-width: $screen-md-min) {
          @include transition(all, 0.3s, ease);
        }

        @media (min-width: $screen-lg-min) {

          @include transition(all, 0.3s, ease);

        }
      }
    }
  }
}

/****** menu ********/

#menu-primary {
  @media (max-width: 767px) {
    float: none;
    text-align: center;
  }
}

#menu-primary #menu-primary-items li {
  @media (max-width: $screen-xs-min) {
    display: block;
    float: none;
  }
}

@media (max-width: $screen-xs-max) {
  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 16px;
    min-width: 85px;
    font-size: 14px;
  }
}

@media (min-width: $screen-sm-min) {
  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 16px;
    min-width: 144px;
  }
}

@media (min-width: $screen-md-min) {
  #menu-primary #menu-primary-items > li > a {
    padding: 14px 5%;
    width: 6vw;
    font-size: 2.2vh;
    line-height: 16px;
  }
}

@media (min-width: 1220px) {
  #menu-primary #menu-primary-items > li > a {
    padding: 14px 5%;
    width: 6vw;
    font-size: 2.2vh;
    line-height: 16px;
  }
}

/* menu toggle */

@media (max-width: 580px) {
  #menu-primary-items {
    padding: 0 !important;
    background: transparent;
  }
  #menu-primary #menu-primary-items > li > a {
    padding: 12px 10px 13px;
  }
  .cherry-navigation-arrow .menu-primary li > a:after {
    top: 30px;
  }
  #menu-primary #menu-primary-items li .sub-menu {
    padding: 15px 25px 10px 25px;
  }

  .menu-primary .sub-menu {
    margin-top: 0 !important;
    text-align: center;
    li a {
      color: #FFF;
    }
  }
  .menu-primary > ul > li:first-child, .menu-secondary > ul > li:first-child {
    margin: 0 !important;
  }
}

/****** menu end ********/

/* menu stickup */
.isStick {
  &#menu-primary #menu-primary-items > li {
    margin: 0;

    a {
      @media (min-width: $screen-md-min) {
      }
    }
  }
}

/* header showcase

.header_showcase {
  @media (max-width: $screen-xs-max) {
    padding: 40px 15px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 40px 15px 200px;
  }
  @media (min-width: $screen-md-min) {
    padding: 96px 0 350px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 96px 0 499px;
  }
}

@media (max-width: 767px) {
  .header_showcase em {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .header_showcase em {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 992px) {
  .header_showcase em {
    font-size: 45px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  .header_showcase em {
    font-size: 45px;
    line-height: 48px;
  }
}

@media (max-width: 767px) {
  .header_showcase strong {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 0;
  }

  nav ul {
    li.menu-item {
      background: #333;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .header_showcase strong {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .header_showcase strong {
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header_showcase strong {
    font-size: 112px;
    line-height: 130px;
    margin-bottom: 33px;
  }
}

/* header showcase end */

/* lg-min
----------------------------------*****/

@media (max-width: $screen-lg-min) {

  .site-header {
    height: 95vh;
    background-size: contain;
    background-position-y: top;
    background-position-x: center;
  }

  .error-404-num {
    font-size: 200px;
  }

  .comments-area .comments {
    .comment .children {
      padding-left: 0;
    }
  }

  .related-posts {
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
  }

  .entry-header .entry-title, .cherry-breadcrumbs .page-title {
    font-size: 34px;
    line-height: 36px;
  }

  .cherry-box.extrabox_6 {
    .inner {
      padding: 20px 35px;
    }
  }

  .cherry-box.extrabox_1.boxstyle1_3 .inner {
    padding: 37px 40px 39px 49px;
    .cherry-btn.arrowbutton {
      position: relative;
      bottom: 0;
      right: 0;
    }
  }

  #menu-primary #menu-primary-items li .sub-menu {
    min-width: 150px;
  }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    width: 100% !important;
  }

  .cherry-box.extrabox_5 h3 {
    margin-right: 60px;
  }

  .cherry-posts-list.posts_1 .descr > a {
    font-size: 32px;
    line-height: 38px;
  }

  /* extrabox_1 */
  .cherry-box.extrabox_1.boxstyle1_1 .inner {
    padding: 37px 82px 17px 49px;
  }
  .cherry-box.extrabox_1.boxstyle1_1 .cherry-btn.arrowbutton {
    position: absolute;
    bottom: 30px;
    right: 24px;
  }

}

/* md-min
----------------------------------*/

@media (max-width: $screen-md-min) {

  .cherry-breadcrumbs {
    padding-top: 30px;
  }
  .cherry-navigation-arrow .menu-primary li > a:after {
    bottom: 8px;
  }

  .isStick {
    .menu-primary li > a:after {
      bottom: 8px;
    }
  }

  .portfolio-wrap .portfolio-item .inner-wrap .item-content {
    padding: 20px 20px 30px;
  }

  #menu-primary {
    padding: 0 0 40px 0;
  }

  .portfolio-wrap .portfolio-filter .filter.filter-category li {
    margin: 0 0 10px;
  }

  .header-top.static-area.isStick .site-branding .site-title.text-logo {
    margin: 15px 0;
  }

  .error-404-num {
    font-size: 200px;
  }

  .comments-area .comments #respond {
    padding: 20px 20px 30px;
  }

  .comments-area .comments .comments-title {
    padding: 25px 20px 35px;
  }
  .comments-area .comments .comment-list {
    padding: 0 20px 30px;
  }

  .author-bio {
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 30px;
  }

  .post.type-post .entry-content {
    padding: 20px 25px;
  }
  .post.type-post .entry-meta-top, .post.type-post .entry-meta-bottom {
    padding: 14px 20px;
  }

  .cherry-box.extrabox_6 {
    .inner {
      text-align: center;
    }
  }

  .team-wrap.extrateam_1 .team-listing {
    text-align: center;
  }
  .team-wrap.extrateam_1 .team-item {
    margin-bottom: 40px;
  }

  .cherry-box.extrabox_1.boxstyle1_3 .inner {
    padding: 25px;
    p img {
      float: none;
      margin: 20px 0;
    }
  }

  #menu-primary #menu-primary-items li .sub-menu {
    min-width: 160px;
  }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    width: 100% !important;
  }

  .cherry-posts-list.posts_1 .descr {
    max-width: none;
    padding: 25px 25px 30px;
  }

  .cherry-posts-list.posts_1 figure {
    float: none;
    img {
      width: 100%;
      max-width: none;
    }
  }

  .cherry-box.extrabox_5 {
    .box-primary.inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .cherry-box.extrabox_5 h3 {
    margin-right: 0;
  }

  .cherry-box.extrabox_1.boxstyle1_1 .cherry-btn.arrowbutton {
    position: absolute;
    bottom: 30px;
    right: 24px;
  }

}

/* sm-max
----------------------------------*/
@media (max-width: $screen-sm-max) {

  .cherry-box.extrabox_5 {
    .box-primary.inner {
      background-image: none !important;
    }
  }
}

/* sm-min
----------------------------------*/

@media (max-width: $screen-sm-min) {

  #menu-primary .cherry-mega-menu-sub.simple-sub {
    text-align: center;
  }

  .simple-menu .sub-menu {
    width: 100%;
  }

  #menu-primary .sub-menu, #menu-primary .simple-sub {
    padding: 10px 25px 10px 30px;
  }

  .site-header {
    background-image: none !important;
  }

  div.portfolio-wrap .portfolio-container.list-layout .list-layout-item .inner-wrap .media-content {
    float: none;
    width: 100%;
    margin: 0 auto 20px;
  }

  .portfolio-wrap .portfolio-filter .filter.filter-tag li {
    margin: 0 2px 4px;
  }

  .portfolio-wrap .portfolio-filter .filter.filter-category li a {
    padding: 4px 10px 6px;
    font-size: 16px;
  }

  .error-404-num {
    font-size: 180px;
  }

  .author-bio .author-bio_avatar {
    float: none;
    display: block;
    margin-bottom: 12px;
  }

  .entry-header .entry-title, .cherry-breadcrumbs .page-title {
    font-size: 26px;
    line-height: 32px;
  }

  #footer {
    padding-top: 106px;
    padding-bottom: 280px;
  }

  .cherry-grid.extragrid_1 .cherry-grid_item {
    padding: 25px 25px 35px;
  }

  .cherry-grid.extragrid_2 .cherry-grid_item {
    padding: 25px 25px 35px;
  }

  .cherry-posts-list.posts_1 .descr {
    max-width: none;
    padding: 25px 15px 30px;
  }

  .cherry-posts-list.posts_1 .descr > a {
    font-size: 28px;
    line-height: 34px;
  }

  .cherry-box.extrabox_5 {
    .box-primary.inner {
      padding-left: 20px;
      padding-right: 20px;
      background-image: none !important;
    }
  }

  .cherry-box.extrabox_5 h3 {
    margin-right: 20px;
  }

  .cherry-box.extrabox_4 {
    .box-primary.inner {
      padding: 40px 25px 15px;
    }
  }

  .cherry-btn.extracheckbutton {
    font-size: 18px !important;
    text-align: left;

  }

  .cherry-box.extrabox_1 {
    .inner {
      padding: 20px;
      overflow: hidden;
    }
    h2 {
      font-size: 32px;
      line-height: 34px;
    }
  }

  .cherry-box.extrabox_3 .box-primary.inner {
    padding: 33px 20px 60px
  }

  .cherry-box.extrabox_1.boxstyle1_1 .inner {
    padding: 20px 60px 20px 20px;
  }

}

/* xs-min
----------------------------------*/

@media (max-width: $screen-xs-min) {

  #menu-primary .sub-menu {
    text-align: center;
  }

  .testimonials-page .testimonials-item .avatar {
    float: none;
    margin: 0 0 20px;
  }
  .testimonials-page .testimonials-item blockquote {
    border: none;
    padding-left: 0;
  }

  .portfolio-wrap .portfolio-filter .order-filter > li {
    font-size: 14px;
  }

  .portfolio-wrap .portfolio-filter .filter.filter-category li {
    margin: 0 5px 5px;
    display: block;
    font-size: 16px;
  }

  .error-404-num {
    font-size: 100px;
  }

  #menu-primary.toggled #menu-primary-items li .sub-menu .sub-menu li {
    margin: 10px 0 0 0 !important;
  }

  #menu-primary.toggled #menu-primary-items li .sub-menu .sub-menu {
    margin: 0 !important;
    padding: 0 0 0 10px;
  }

  .cherry-grid.extragrid_1 .cherry-grid_item .post-thumbnail {
    float: none;
  }

  .cherry-posts-list.posts_1 .post-meta {
    margin-top: 40px;
  }
  .cherry-posts-list.posts_1 .post-meta time {
    margin-right: 15px;
  }

  .cherry-box.extrabox_5 .cherry-dropcap {
    float: none !important;
    display: block !important;
  }

}
